* {
  box-sizing: border-box;
}  

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.parent {
    background-color: #001f3f;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.child {
	background-color: #0074d9;
	padding: 20px;
	color: white;
	
}

.child-three {
  flex: 0 0 1000px;
  background-color: #3d9970;
}